.podcast-detail {
    box-shadow: 0 4px 4px rgba(87, 87, 87, 0.1); 
    border: 1px solid rgba(87, 87, 87, 0.1);

    &__image {
        padding: 20px;
        border-bottom: 1px solid rgba(87, 87, 87, 0.1);
    }
  
    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    &__artwork {
      max-width: 100%;
    }
  
    &__info {
      text-align: left;
      margin: 10px 0;
    }
  }
  