*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

html {
  font-size: 16px;
}

a, 
a:visited {
  text-decoration: none;
  color: #333; 
  text-decoration: none;
}
a:hover {
  color: #666;
}
body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.page {
    margin: 10px;
}